.DS_Store
*~
.#*
.hgignore
.hg/*
.svn/*
._*
*.swp
tmp

/prepare.sh
on/ability/
use/repos/*
!use/repos/readme.md
use/secret/

android/sdk
legacy

# Node
node_modules
npm-debug.log

# Clojure
.clj-kondo/.cache
