[alias]
  co = checkout
  # Log display from screencast, with train tracks.
  l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  # Alternate log display from Scott Chacon
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  # Other useful aliases:
  unstage = reset HEAD
  staged = diff --cached
  unstaged = diff
  current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
  # Usage: git track origin/feature-123-login-form
  track = checkout -t
  unadd = reset HEAD
[github]
  user = orlin
[apply]
  # whitespace used to be nowarn (it's probably the trailing) - text editor's job
  whitespace = warn
[user]
  name = Orlin M Bozhinov
  email = orlin@apotelesmatic.com
[gui]
  recentrepo = ~/.holy
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  quotepath = false
  editor = vim
[bash]
  showDirtyState = true
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[help]
  autocorrect = 1
[status]
  submodule = 1
[push]
  # default = tracking
  # Only push branches that have been set up to track a remote branch.
  default = current
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
