"*":
  "autocomplete-modules":
    babelPluginModuleResolver: true
  "block-cursor":
    global:
      blinkOff: {}
      blinkOn:
        backgroundColor: "#0e3808"
        borderStyle: "bordered-box"
      cursorLineFix: true
  core:
    disabledPackages: [
      "language-gfm"
      "julia-client"
      "autocomplete-json"
      "atom-clock"
      "markdown-preview"
    ]
    packagesWithKeymapsDisabled: [
      "lisp-paredit"
    ]
    telemetryConsent: "limited"
    themes: [
      "polymorph-ui"
      "silkworm-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    softWrap: true
  "exception-reporting":
    userId: "2993521c-fb78-f426-9182-55079b0a71b0"
  "flatwhite-syntax": {}
  fonts:
    fontFamily: "FiraCode"
  "git-plus":
    general:
      _analyticsUserId: "83e591f4-eaca-4770-a78d-125f18cca9d3"
  "highlight-column":
    opacity: 0.03
  "highlight-line":
    enableSelectionBorder: true
  "julia-client":
    enableMenu: true
    enableToolBar: true
    launchOnStartup: true
  "language-elm": {}
  linter: {}
  "linter-eslint":
    disableEslintIgnore: true
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-sass-lint":
    noConfigDisable: true
    resolvePathsRelativeToConfig: true
  "linter-ui-default":
    showPanel: true
  "linter-write-good":
    severityLevel: "Info"
  "lisp-paredit":
    indentationForms: [
      "try"
      "catch"
      "finally"
      "let"
      "are"
      "/^def.*/"
      "fn"
      "cond"
      "if"
      "if-let"
      "for"
      "/when.*/"
      "testing"
      "doseq"
      "dotimes"
      "loop"
      "ns"
    ]
    strict: false
  "merge-conflicts": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    silenceErrors: true
    useEslint: true
  "proto-repl":
    autoPrettyPrint: true
  "sync-settings":
    _lastBackupHash: "a41c45ea236f4e1a2075385ebd16d3b67c09afb5"
    gistId: "0a47688f152d7ceccb646a23e8245449"
    personalAccessToken: "f84baee37b64ddeaa25108abb4127545d378680c"
  "theme-switcher":
    syntaxThemeOne: "duotone-light-syntax"
    syntaxThemeTwo: "jonikorpi-atom-solarized-syntax"
    uiThemeOne: "polymorph-ui"
    uiThemeTwo: "isotope-ui"
  "tool-bar":
    position: "Right"
    visible: false
  "uber-juno":
    disable: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
".clojure.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    nonWordCharacters: "()\"':,;~@#$%^&{}[]`"
    scrollPastEnd: true
".platform-darwin atom-text-editor.vim-mode:not(.insert-mode)":
  "ctrl-p": "clipboard-plus:toggle"
".platform-linux atom-text-editor.vim-mode:not(.insert-mode)":
  "alt-p": "clipboard-plus:toggle"
dash:
  grammars:
    JavaScript: [
      "javascript"
      "nodejs"
    ]
    Sass: [
      "sass"
      "compass"
      "susy"
    ]
